@model SymbolDrawingsViewModel

@{
	ViewBag.Title = "Symbol drawings admin";
	var drawingModel = new SymbolDrawingPartialViewModel() {
		ImageSise = 128,
		PenSizePerc = 4,
	};
	var firstDrawing = Model.Drawings.FirstOrDefault();
	int activeSymbolId = firstDrawing == null ? -1 : firstDrawing.Symbol.SymbolId;
}

<h1>@ViewBag.Title</h1>

<ul>
	<li>@Html.ActionLink("Double posts", MVC.Administration.SymbolDrawings.DoublePosts())</li>
	<li>@Html.ActionLink("Approval problems", MVC.Administration.SymbolDrawings.ApprovalProblems())</li>
</ul>

<div class="row">
	<div class="col-md-12 buttonsList">
		@foreach (var symbol in Model.Symbols) {
			@Html.ActionLink(symbol.SymbolStr, MVC.Administration.SymbolDrawings.Index(symbol.SymbolId),
				new { @class = "btn btn-default btn-sm" + (symbol.SymbolId == activeSymbolId ? " btn-primary" : "") })
		}
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		@foreach (var drawing in Model.Drawings) {
			drawingModel.SymbolDrawing = drawing;
			<div class="pull-left small">
				@{
					Html.RenderPartial(MVC.Administration.Shared.Views.Symbol_partial, drawingModel);
				}
			</div>
		}
	</div>
</div>
