@model IPagination<Symbol>

@{
	ViewBag.Title = "Symbols";
	var pagination = Model.Html();
}

<h1>@ViewBag.Title</h1>

<p>
	This page lists all symbols that arecurrently in the database and system can be trained to recognize given the training data.
</p>

@pagination

<ul>
	@foreach (var item in Model) {
		<li>
			@Html.DisplayFor(m => item.SymbolStr) (@Html.DisplayFor(m => item.Name))
		</li>
	}
</ul>

@pagination
