@model IPagination<Symbol>

@{
	ViewBag.Title = "Symbols";
	var pagination = Model.Html();
}

<h1>@ViewBag.Title</h1>

<p>
	This page lists all symbols that arecurrently in the database and system can be trained to recognize given the training data.
</p>

@pagination



<ul class="symbolSearchResults">
	@foreach (var item in Model) {
		<li>
			<div class="cont">
				<h2>@Html.DisplayFor(m => item.SymbolStr)</h2>
				<p>@Html.DisplayFor(m => item.Name)</p>
			</div>
		</li>
	}
</ul>

@pagination
