@model TrainIndexViewModel
@{
	ViewBag.Title = "Saved net configurations";
}

<h1>@ViewBag.Title</h1>

@Html.ActionLink("Train new network", MVC.Train.TrainNewNet())

<ul>
	@foreach (var net in Model.AllNets) {
		if (net == Model.DefaultNet) {
			<li><b>@Html.ActionLink(net, MVC.Train.Details(net))</b></li>
		}
		else {
			<li>@Html.ActionLink(net, MVC.Train.Details(net))</li>
		}
	}
</ul>
