@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated) {
	using (Html.BeginForm(MVC.Account.LogOff(), FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
		@Html.AntiForgeryToken()

		<ul class="nav navbar-nav navbar-right">
			<li>
				@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", MVC.Manage.Index())
			</li>
			<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
		</ul>
	}
}
else {
	<ul class="nav navbar-nav navbar-right">
		<li>@Html.ActionLink("Register", MVC.Account.Register(), htmlAttributes: new { id = "registerLink" })</li>
		<li>@Html.ActionLink("Log in", MVC.Account.Login(), htmlAttributes: new { id = "loginLink" })</li>
	</ul>
}
