@{
	ViewBag.Title = "Plots";
}

<h1>@ViewBag.Title</h1>

<ul>
	<li>@Html.ActionLink("Rosenbrock function", MVC.Plot.RosenbrockFunction())</li>
	<li>@Html.ActionLink("Crazy sin cos function", MVC.Plot.CrazySinCosFunction())</li>
</ul>





