@{
	ViewBag.Title = "Function plots";
}

<h1>@ViewBag.Title</h1>

<p>
	Function plots visualizes various optimization algorithms and their performance.
</p>

<ul>
	<li>@Html.ActionLink("Rosenbrock function", MVC.Plot.RosenbrockFunction())</li>
	<li>@Html.ActionLink("Crazy sin cos function", MVC.Plot.CrazySinCosFunction())</li>
</ul>





