@{
	ViewBag.Title = "About Mausr";
}

<div class="jumbotron">
	<h1>@ViewBag.Title</h1>
	<p>
		Have you ever wanted to easily find any unicode symbol like →, ×, ≠, ℝ, or »?
		Mausr is (will be) the ultimate answer to this question.
		Just sketch it and half a second later your symbol is right in front of you ready for copy-paste.
		@Html.ActionLink("Give it a try!", MVC.Home.Index())
	</p>
</div>

<div class="row">
	<div class="col-md-6">
		<p>
			Mausr stands for <i>Marek's Unicode Symbols Recognizer</i> and I created it because I was frustrated by googling unicode symbols around.
			First it was only small C# program but then I realized that it can be actually usefull for everybody.
			So I extended the library with simple web interface and after few weeks the first version was published.
		</p>
		<p>
			Mausr is currenlty in alpha version and contains only a bunch of symbols.
			I am hoping to add more over the time.
			The problem with adding new symbols is the need for training data.
			Somebody has to draw every symbol at least 20 times before it is somewhat searchable.
			Some symbols are heavily biased by handwriting style so training data has to be from many different persons.
		</p>
	</div>
	<div class="col-md-6">
		<p>
			The core library uses neural networks for the recognition.
			Data are gathered as 2D points and sent to server is this compact form to reduce bandwidth.
			Server reconstructs the drawing in desired resolution and runs the image through trained neural network.
			Then top 8 results are returned to the client (only results with at least 5% confidence are considered).
		</p>
		<p>
			The training process is highly customizable and done on the server too.
			The training interface is web based and offers real-time feedback of error measurements of the trained neural network.
			This interface is not publicly accessible because it is very computationally expensive and my web server not built for this tasks.
		</p>
	</div>
</div>

<div class="row">
	<h3>Questions? Comments? Suggestions?</h3>
	<div class="col-md-6">
		<p>
			I am happy to hear any kind of feedback!
			Please feel free to contact me through this @Html.ActionLink("contact form", MVC.Home.Contact()).
		</p>
	</div>
</div>

