@{
	ViewBag.Title = "Draw a symbol";
	int imageSize = 256;
}

<h1>@ViewBag.Title</h1>

<div class="row">
	<div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
		<div class="canvasContainer">
			<canvas id="canvas" class="center-block" width="@imageSize" height="@imageSize"></canvas>
		</div>
		<br />
		<a class="btn btn-default btn-lg btn-block" id="clearBtn" href="#" role="button">Clear</a>
		<div class="warmup">Warmup: <span id="warmupStatus"></span></div>
	</div>
	<div class="col-lg-9 col-md-8 col-sm-7 col-xs-6">
		<i id="spinner" class="fa fa-cog fa-spin fa-5x" style="display: none;"></i>
		<ul id="results" class="symbolSearchResults"></ul>
		<p id="duration" class=""></p>
	</div>
</div>

@{
	MyHtml.RequireScript(Links.Scripts.Mausr_js);
	MyHtml.RequireScript(Links.Scripts.Mausr_painter_js);
}
@section scripts {
	<script>
		$(function () {
			new MausrPainter({
				canvasId: 'canvas',
				clearBtnId: 'clearBtn',
				predictUrl: '@Url.Action(MVC.Home.Predict())',
				autoPredictDelay: 800,
				predictResultsId: 'results',
				spinnerId: 'spinner',
				durationId: 'duration',
				warmupId: 'warmupStatus'
			});
		});
	</script>
}