@{
	ViewBag.Title = "Draw a lowercase greek symbol";
	int imageSize = 256;
}

<h1>@ViewBag.Title</h1>

<div class="row">
	<div class="col-sm-4">
		<canvas id="canvas" class="img-thumbnail center-block" width="@imageSize" height="@imageSize"></canvas>
		<br />
		<a class="btn btn-default btn-lg btn-block" id="clearBtn" href="#" role="button">Clear</a>
	</div>
	<div class="col-sm-8" id="results">
	</div>
</div>

@{
	MyHtml.RequireScript(Links.Scripts.Mausr_js);
	MyHtml.RequireScript(Links.Scripts.Mausr_painter_js);
}
@section scripts {
	<script>
		$(function () {
			new MausrPainter({
				canvasId: 'canvas',
				clearBtnId: 'clearBtn',
				predictUrl: '@Url.Action(MVC.Home.Predict())',
				autoPredictDelay: 500,
				predictResultsId: 'results'
			});
		});
	</script>
}