<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!-- =========================================================================================================== -->
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors xdt:Transform="SetAttributes" mode="RemoteOnly" />
		<caching>
			<outputCache xdt:Transform="SetAttributes" enableOutputCache="true" />
		</caching>
	</system.web>
	<!-- =========================================================================================================== -->
	<system.webServer>
		<rewrite>
			<rules>
				<!-- Using a non-www version of a webpage will set cookies for the whole domain making cookieless domains
					(eg. fast cdn-like access of static resources like css, js and images) impossible. -->
				<!-- Canonized URL and adds www -->
				<rule xdt:Transform="Insert" name="Canonical Host Name" stopProcessing="true">
					<match url="^(.*)$" />
					<conditions>
						<add input="{HTTP_HOST}" negate="true" pattern="^(www\.mausr\.com)|(localhost)$" />
					</conditions>
					<action type="Redirect" url="http://www.mausr.com{PATH_INFO}" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<!-- =========================================================================================================== -->
</configuration>
